body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome {
    text-align: center;
}

.welcome p {
    font-size: 1.25em;
}

.featured h1 {
    font-family: Fredoka One, cursive;
    text-transform: uppercase;
    text-align: center;
    color: rgb(239,83,100);
}

.row {
    padding: 2%;
    color: rgb(0, 92, 64);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: flex;
}

hr {
    margin-top: 3em;
}

.app h1 {
    font-family: Fredoka One, cursive;
    color: rgb(239,83,100);
    text-align: justify;
}

.app p {
    color: #000000;
    font-weight: normal;
    font-size: 1.25em;
    text-transform: none;
    text-align: justify;
}

.app li {
    font-size: 1em;
    color: #000000;
    text-transform: none;
    list-style-position: inside;
    font-weight: normal;
    text-align: justify;
}

footer {
    clear: both;
}
